@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .app-bg {
      background-image: url('/public/images/LogoHG.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  